{% extends 'base.html.twig' %}

{% block title %}Liste des contacts{% endblock %}

{% block body %}
   <!--Main container start -->
	<main class="ttr-wrapper">
		<div class="container-fluid">
			<div class="db-breadcrumb">
				<h4 class="breadcrumb-title">Matieres et Classe</h4>
				<ul class="db-breadcrumb-list">
					<li>Ajouter</li>
				</ul>
			</div>	
			<!-- Card -->

			<!-- Card END -->
			<div class="row">
				<!-- Your Profile Views Chart -->
				<div class="col-lg-12 m-b30">
					<div class="widget-box">
						<div class="wc-title">
							<h4>Ajouter une classe</h4>
						</div>
						<div class="widget-inner">
							<form action="/save/classe"  method="POST" class="edit-profile m-b30">
								<div class="row">
									<div class="form-group col-12">
										<label class="col-form-label">Nom de la classe</label>
										<div>
											<input class="form-control" type="text" value="" name="nom">
										</div>
									</div>
									<div class="seperator"></div>
									<div class="form-group col-12">
										<label class="col-form-label">Description de la classe</label>
										<div>
											<textarea class="form-control" name="description"> </textarea>
										</div>
									</div>


									<div class="col-12">
										<button type="reset" class="btn-secondry add-item m-r5">Anuler</button>
										<button type="submit" class="btn">Sauvegarder</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<!-- Your Profile Views Chart END-->
			</div>

		</div>
	</main>
	<div class="ttr-overlay"></div>
	<!--End container start -->
{% endblock %}